* {
    font-family: "JetBrains Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    padding: 3px 7px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    border: none;
/*    background: inherit;
    box-shadow: inset 0 -3px #ffffff; */
}

#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.5s ease-out;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #fff0f5;
    color: #000000;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#hardware {
  margin: 0 0px;
  background-color: #16161D;
  border-radius: 10px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#wireplumber,
#workspaces {
    padding: 3px 10px;
    color: #dcd7ba;
    border-radius: 5px;
    background-color: #16161D;
}

#window,
#workspaces {
    margin-right: 5px;
    border-radius: 5px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {

}

#language {

}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {

}

#network {

}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {

}

#pulseaudio.muted {

}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}
